.example-card {
   
    width: 700px;
    height: 200px;
    left: 180px;
    right: 200px;
    background-color:rgb(179, 213, 245) ;
    border-width: 70px;
 
  }
  .nextbutton{
    left:560px;
    bottom: 60px;
    border-width: 30px;
    width:170px;
    background-color: white;
    border-width: 300px;
   
}
.close{
    display: block;
    border: 1px solid #0066ff;
    position:relative;
    left:95%;
    bottom: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  h1{
    font-style: oblique;
    color: rgb(16, 12, 211);
}