
<div class="row">
  <h1 class="app-title">AUTOMATISATION DE LA 
    MESSAGERIE</h1>
<br>


  </div>

<!--  <form  class="form1" >

 
    
    <fieldset class="firld1">
     <legend>Creer Votre Scenario  :
     </legend>
     <br>
      <label for="email">Nom de la scenario :</label>
      <br>
       <input type="email" name="email" size="20" 
       maxlength="40" value=" entrez nom   " id="email" />
       <br>
    
     
    </fieldset>
    
     <p>
     <input (click)= "gotoCreationscenario()" type="submit" value="Suivant" />
     <input type="reset" value="Annuler" /> 
     </p>
    
    </form>

   -->
  <br>

  <mat-card class= "cardadd">
    <form style="max-width:450px;margin:auto">
      <h2>Nommer Votre Scenario</h2>
       
        <div class="input-icons">
          <i class="fa fa-plus-square  fa-2x icon "     size="30" ></i>
            <input class="input-field" 
                   type="text" 
                   size="20" 
       maxlength="40" value=" entrez nom   " id="email" >
        </div>
        <p>
          <input (click)= "gotoCreationscenario()" type="submit" value="Suivant" />
          <input type="reset" value="Annuler" /> 
          </p>
    </form>

</mat-card>