
<mat-card class="example-card">
    <h1 mat-dialog-title>Saisir Vos Critères</h1>
    <button type="button" #closebutton class="close" mat-dialog-close>&times;</button>
    <div mat-dialog-content>
       
        <label for="Critère">Choisir un Critère:</label>
        &nbsp;&nbsp;  &nbsp;&nbsp; <select name="critere" id="critere">
          <option value="MR">Monsieur </option>
          <option value="M">Madame</option>
          <option value="MD">Mademoiselle</option>
        
        </select>
  
      
  </div>
</mat-card>
    <div mat-dialog-actions>
        <button mat-button class="nextbutton" color="primary"  >Suivant</button> 
    </div>
