td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .app-title {
      background: #123456;
      color: #fff;
      text-align: center;
      padding: 15px;
      margin-bottom: 50px;
  }
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
  
  }
  button{
        margin-left: 20px;
      background-color: white;
      border: none;
  }
  .title {
    
    color: rgb(8, 92, 218);
   
    
}
  